[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphene = "*"
responder = "*"
starlette = "==0.8"
flask = "*"
flask-graphql = "*"
gunicorn = "*"
uwsgi = "*"
sanic = "*"
sanic-graphql = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
uvloop = "*"
aiohttp-graphql = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
